@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	top: 0;
	left: 0;
	font-family: roboto, arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color:#333;
	color: white;
	box-sizing: border-box;
}

.wrap {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas:
	'menu ninesq'	
	'footer footer';
	grid-template-columns: 20vw 1fr;
	grid-template-rows: 1fr 90px;
}

.menu {
	grid-area: menu;
}

.logo {
	text-align: center;
	max-width: 7vw;
	margin: 4em auto;
}

.logo img {
	max-width: 100%;
}

.nav {
	margin: 0;
	max-width: 10vw;
	padding: 1em;
	margin: auto;
}
.nav ul {
	list-style-type: none;
	padding: 0;
	max-width: 100%;
}

.nav ul li {
	margin-bottom: 0.4em;
}

.nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.6vw;
	opacity: 0.5;
}

.nav ul li a:hover {
	opacity: 1;
}


.ninesq {
	grid-area: ninesq;
	max-width: 100%;	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.ninesq [class*="item"] img {
	max-width: 100%;
	object-fit: cover;
	opacity: 0.9;
}

.ninesq [class*="item"] img:hover {
	opacity: 1;
}

.ninesq [class*="item"] {
	display:flex;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

.ninesq .item1 {
	grid-column: 1 / 2;
}
.ninesq .item2 {
	grid-column: 2 / 3;
}
.ninesq .item3 {
	grid-column: 3 / 4;
}
.ninesq .item4 {
	grid-column: 1 / 2;
}
.ninesq .item5 {
	grid-column: 2 / 3;
}
.ninesq .item6 {
	grid-column: 3 / 4;
}
.ninesq .item7 {
	grid-column: 1 / 2;
}
.ninesq .item8 {
	grid-column: 2 / 3;
}
.ninesq .item9 {
	grid-column: 3 / 4;
}

.footer {
	grid-area: footer;
	align-self: end;
}

.footer p {
	text-align: center;
}

.contactme {
	border: 2px solid white;
	padding: 2em 4em;
	text-align: center;
	margin: auto;
}

[class*="frame"] {
	border: 2px solid white;
	margin: auto;
	padding: 0.4em;
	background-color: #333;
}

[class*="frame"]:hover {
	background-color: red;
}

h4 {
	font-size: 1.6em;
}

@media only screen and (max-width: 800px) {

.wrap {
	grid-template-areas:
	'menu'
	'ninesq'
	'footer';
	grid-template-columns: auto;
	grid-template-rows: 200px 1fr 90px;
}

.menu {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.logo {
	max-width: 4em;
	padding: 0;
	margin: 0 4em 0 0;
}

.nav {
	padding: 0;
	margin: 0;
}
.nav ul {
	margin: 20px 40px;
}

.nav ul li {
	margin: 0;
	text-align: left;
}

.nav ul li a{
	font-size: 1.2em;
}

.logo img {
	margin: 0 50px 0 0;
	max-width: 80px;
}

.lightbox img {
	margin-top: 10%;
}
}
@media only screen and (max-width: 470px){

.lightbox img {
	margin-top: 10%;
}

.ninesq {
	height: 100vw;
}
.ninesq [class*="item"] {
	height: 33vw;
}
}